html {
	background:url(Imgs/BG.jpg) no-repeat center center fixed;
	
	
}
body {
	width:800px;
	margin:auto;
}

nav { 
	font-size:20px;
	font-color:white;
	text-align:center;
	
}
li {
	display: inline-block;
	color:white;
	font-size: 16px;
	padding:5px;
	font-weight:900;
	text-decoration: none;

}
a {
	text-decoration: none;
	color:white;
}
a:hover {
	color:red;
}
.headT {
	font-size:50px;
	color:White;
	text-align:center;
}

img {
	width:500px;
	height:500px;
	display:block;
	margin:auto;
	text-align:center;
	border-radius: 60px;
	
}
h2 {
	text-align:center;
	color:white;
	
}
p {
	color:white;
	text-align:center;
	display:block;
	width:400px;
	height:auto;
	margin:auto;
	padding-bottom:20px;
	
}
#end {
	color:white;
	text-align: center;
	margin-top:20px;
}